/* ===== Reset & nền ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at bottom, #000010, #000000 80%);
  overflow: hidden;
  height: 100vh;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  text-shadow: 0 0 20px #d7ccd7, 0 0 40px #00ffff;
  margin-bottom: 10px;
  animation: glow 2s infinite alternate;
}

p {
  color: #ccc;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

/* Hiệu ứng chữ phát sáng */
@keyframes glow {
  from {
    text-shadow: 0 0 10px #ff0077, 0 0 20px #ff00ff;
  }
  to {
    text-shadow: 0 0 30px #00ffff, 0 0 50px #ff0077;
  }
}

/* Canvas phủ toàn màn hình */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
