body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(circle at bottom, #0d1b2a, #000);
  color: white;
  text-align: center;
}

h1 {
  margin-top: 50px;
  font-size: 2.2rem;
  position: relative;
  z-index: 2;
}

p {
  position: relative;
  z-index: 2;
  opacity: 0.8;
}

/* Canvas phủ toàn màn hình */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* để click xuyên qua */
  z-index: 1;
}
